html,body,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}
article,aside,figure,footer,header,nav,section{
	display:block
}
*,*:before,*:after{
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box
}

@font-face{
	font-family:'Proximanova';
	src:url("../fonts/proximanova-regular.eot?") format("eot"),url("../fonts/proximanova-regular.woff") format("woff"),url("../fonts/proximanova-regular.otf") format("opentype"),url("../fonts/proximanova-regular.ttf") format("truetype")
}
@font-face{
	font-family:'Proximanovalight';
	src:url("../fonts/proximanova-light.eot?") format("eot"),url("../fonts/proximanova-light.woff") format("woff"),url("../fonts/proximanova-light.otf") format("opentype"),url("../fonts/proximanova-light.ttf") format("truetype")
}
@font-face{
	font-family:'Proximanovabold';
	src:url("../fonts/proximanova-bold.eot?") format("eot"),url("../fonts/proximanova-bold.woff") format("woff"),url("../fonts/proximanova-bold.otf") format("opentype"),url("../fonts/proximanova-bold.ttf") format("truetype")
}
@font-face{
	font-family:'Proximanovasemibold';
	src:url("../fonts/proximanova-semibold.eot?") format("eot"),url("../fonts/proximanova-semibold.woff") format("woff"),url("../fonts/proximanova-semibold.otf") format("opentype"),url("../fonts/proximanova-semibold.ttf") format("truetype")
}
@font-face{
	font-family:'Icons';
	src:url("../fonts/icomoon.eot?") format("eot"),url("../fonts/icomoon.woff") format("woff"),url("../fonts/icomoon.ttf") format("truetype");
	font-weight:normal;
	font-style:normal
}
@font-face{
	font-family:'InfoJobs';
	src:url("../fonts/InfoJobs.eot?");
	src:url("../fonts/InfoJobs.eot?#iefix") format("embedded-opentype"),url("../fonts/InfoJobs.woff?") format("woff"),url("../fonts/InfoJobs.ttf?") format("truetype"),url("../fonts/InfoJobs.svg?#InfoJobs") format("svg");
	font-weight:normal;
	font-style:normal
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family:"Proximanovasemibold",Helvetica,Arial,sans-serif;
	font-weight:bold;
	color:inherit;
	text-rendering:optimizelegibility
}
h1.altheader,h2.altheader,h3.altheader,h4.altheader,h5.altheader,h6.altheader{
	color:gray;
	text-transform:uppercase
}
h1 small,h2 small,h3 small{
	font-weight:normal;
	display:block;
	color:gray
}
.xxxlarge{
	font-family:'Proximanovasemibold';
	font-size:36px;
	font-size:2.25rem;
	line-height:39px;
	line-height:2.4375rem;
	margin-bottom:10px
}
.xxlarge{
	font-family:'Proximanovasemibold';
	font-size:30px;
	font-size:1.875rem;
	line-height:33px;
	line-height:2.0625rem;
	margin-bottom:10px
}
.xlarge{
	font-family:'Proximanovasemibold';
	font-size:25px;
	font-size:1.5625rem;
	line-height:28px;
	line-height:1.75rem;
	margin-bottom:10px
}
.large{
	font-family:'Proximanovasemibold';
	font-size:20px;
	font-size:1.25rem;
	line-height:23px;
	line-height:1.4375rem;
	margin-bottom:10px
}
.medium{
	font-family:'Proximanovasemibold';
	font-size:18px;
	font-size:1.125rem;
	line-height:21px;
	line-height:1.3125rem;
	margin-bottom:10px
}
p,ol,ul,dl,address{
	margin-bottom:1.5em;
	line-height:1.5em;
	font-size:16px;
	font-size:1rem;
	line-height:20px;
	line-height:1.25rem
}
.intro{
	font-weight:bold
}
small{
	font-size:12px;
	font-size:0.75rem;
	color:gray
}
ul,ol{
	margin:0 0 1.5em 0;
	padding:0 0 0 20px
}
li ul,li ol{
	margin:0
}
blockquote{
	margin:0 0 1.5em 0;
	padding-left:20px;
	border-left:2px solid #dedede;
	font-family:Georgia,Times,"Times New Roman";
	font-style:normal
}
blockquote p{
	font-size:18px;
	font-size:1.125rem;
	color:gray;
	font-style:italic
}
q{
	quotes:none;
	font-style:italic
}
blockquote p::before,blockquote p::after,q:before,q:after{
	content:""
}
cite{
	font-style:normal
}
dl,dd{
	margin-bottom:1.5em
}
dt{
	font-weight:bold
}
.dl-horizontal dt{
	float:left;
	clear:left;
	width:20.25%;
	text-align:right
}
.dl-horizontal dd{
	margin-left:22.78%
}
abbr[title]{
	border-bottom:1px dotted #dedede;
	cursor:help
}
b,strong{
	font-family:'Proximanovasemibold'
}
dfn{
	font-style:italic
}
ins{
	background-color:#fff;
	color:#262626;
	text-decoration:none
}
mark{
	background-color:yellow;
	color:#262626
}
pre,code,kbd,samp{
	font-family:"Courier New",monospace;
	font-size:14px;
	font-size:0.875rem;
	line-height:1.5em
}
pre{
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word
}
sub,sup{
	position:relative;
	font-size:12px;
	font-size:0.75rem;
	line-height:0;
	vertical-align:1.5em
}
sup{
	top:-.5em
}
sub{
	bottom:-.25em
}
@font-face{
	font-family:'pgp-ij';
	src:url("../fonts/pgp-ij.eot?veet42");
	src:url("../fonts/pgp-ij.eot?#iefixveet42") format("embedded-opentype"),url("../fonts/pgp-ij.woff?veet42") format("woff"),url("../fonts/pgp-ij.ttf?veet42") format("truetype"),url("../fonts/pgp-ij.svg?veet42#pgp-ij") format("svg");
	font-weight:normal;
	font-style:normal
}
[class^="pgp-"],[class*=" pgp-"]{
	font-family:'pgp-ij';
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.pgp-facebook:before{
	content:"\e602"
}
.pgp-twitter:before{
	content:"\e601"
}
.pgp-google-plus:before{
	content:"\e603"
}
.pgp-linkedin:before{
	content:"\e600"
}
.pgp-star-full:before{
	content:"\e9d9"
}
*{
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
@-webkit-viewport{
	width:device-width
}
@-moz-viewport{
	width:device-width
}
@-ms-viewport{
	width:device-width
}
@-o-viewport{
	width:device-width
}
@viewport{
	width:device-width
}
html{
	font-size:100%;
	-webkit-overflow-scrolling:touch;
	-webkit-tap-highlight-color:#fff;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
body{
	margin:0;
	padding:0;
	width:100%;
	background-color:transparent;
	font-family:"Proximanova",Helvetica,Arial,sans-serif;
	font-size:16px;
	font-size:1rem;
	color:#262626
}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,input,textarea,select,*::before,*:before,*::after,*:after{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	outline:none;
	-ms-box-sizing:border-box;
	box-sizing:border-box
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block
}
.clearfix{
	display:block;
	clear:both
}
html,body{
	height:100%
}
.container{
	width:100%;
	max-width:1200px;
	margin:auto;
	padding:0px 40px
}
@media (max-width: 460px){
	.container{
		padding:0px 40px;
}
}
.full{
	height:100%
}
.full .container{
	height:100%
}
.full .col{
	max-height:100%
}
.ib{
	display:inline-block
}
.ib.itc{
	display:table;
	margin:auto
}
.col{
	display:inline-block;
	width:50%;
	vertical-align:middle
}
.col.valign{
	height:100%;
	width:0
}
.col.col-l{
	padding-right:4em;
}
.col.col-r{
	padding-left:4em;
}
.andoid,.apple{
	text-decoration:initial
}
header{
	height:0 !important
}
header nav{
	position:absolute;
	right:0px;
	text-align:right;
	width:40px;
	text-align:center
}
header .selection{
	position:fixed;
	height:100%;
	width:40px;
	text-align:center;
	z-index:999
}
header .selection div{
	display:inline-block;
	vertical-align:middle;
	width:85%
}
header .selection div.valign{
	height:100%;
	width:0
}
header .selection a{
	outline:none;
	display:block;
	width:100%;
	text-align:center;
	padding:8px 0px
}
header .selection a.item5{
	display:none
}
header .selection span{
	height:10px;
	width:10px;
	display:block;
	border:1px solid #fff;
	margin:0px auto;
	border-radius:5px;
	cursor:pointer;
	-webkit-transition:0.3s;
	transition:0.3s
}
header .selection a:hover span{
	background:rgba(255,255,255,0.5)
}
header .selection .current span{
	background:#fff !important
}
header .selection .dark span{
	border:1px solid #167db7 
}
header .selection .dark a:hover span{
	background:#167db7 
}
header .selection .dark .current span{
	background:#167db7 !important
}
.header{
	background:#2088c2 url("../images/header-bg-desktop@2x.png") 50% no-repeat;
	background-attachment:fixed;
	background-size:cover;
	overflow:hidden;
	z-index:10;
	position:relative
}
.header h1,.header h2{
	color:#fff
}
.header h1{
	font-size:2.5em;
	font-family:"Proximanova",Helvetica,Arial,sans-serif;
	line-height:1.2em;
	letter-spacing: normal;
	font-weight: normal;
}
.header h1 .slim{
	font-style:normal;
	font-family:"Proximanova",Helvetica,Arial,sans-serif;
	font-weight:normal
}
.header h2{
	font-size:1.5em;
	font-family:"Proximanova",Helvetica,Arial,sans-serif;
	font-weight:normal;
	line-height:1.33em;
	margin-top:1.5em;
	margin-bottom:1.5em;
}
.header .container{
	position:relative
}
.header .logo{
	position:absolute;
	top:40px;
	left:40px
}
.header .col-l a{
	margin-right:10px
}
.header .col-l .app-b{
	display:none
}
.header .col-r{
	max-height:100%;
	margin:40px 0px;
	text-align:center
}
.header .col-r img{
	width:auto;
	max-width:100%
}
@media (min-height: 800px) and (min-width: 641px){
	.header .col-r{
		margin:0;
		padding:40px 0;
		height:100%
}
	.header .col-r img{
		max-height:90%
}
}
.menu1 .fullSlider{
	height:100%;
	width:100%;
}
.menu1 .slider1 .col-r,.slidern0 .slider1 .col-l,.slidern1 .slider1 .col-l,.slidern2 .slider2 .col-l,.slidern3 .slider3 .col-l,.slidern4 .slider3 .col-l{
	opacity:1 !important
}
.slider{
	color:#666;
	background-image: url("../images/slider_bg@2x.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
}

.menu1 .slider.slider1{
	position:fixed;
	top:0;
	margin-top:0;
	width:100%
}
.slider h3{
	font-size:2.5em;
	color:#167db7;
	font-family:"Proximanova",Helvetica,Arial,sans-serif;
	font-weight:normal;
}
.slider p{
	font-size:1.56em;
	line-height:1.33em;
	color:#2d3133;
	margin-top:1.5em;
}
.slider.slider1 .col-l{
	z-index:10
}
.slider.slider2 .col-l{
	z-index:9
}
.slider.slider3 .col-l{
	z-index:8
}
.slider .col-l{
	max-height:100%;
	text-align:center;
	margin:0;
	padding:40px 0;
	height:100%;
	z-index:3;
	opacity:0;
	-webkit-transition:opacity 0.4s;
	transition:opacity 0.4s
}
.menu2 .slider .col-l,.menu3 .slider .col-l{
	position:relative
}
.slider .col-l img{
	width:auto;
	max-width:85%;
	max-height:85%
}
.slider .col-r{
	padding-left:1em;
	padding-top:2em;
	padding-right:4em;
	position:relative
}
.reviews{
	padding:60px 0;
	color:#fff;
	background-color:#167db7;
	background-attachment:fixed;
	background-size:cover
}
.reviews h3{
	font-size:2.5em;
	font-weight:normal;
	text-align:center;
	margin-bottom:-1.5em;
	font-family: "Proximanova",Helvetica,Arial,sans-serif;
}
.reviews .flex{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex
}
.reviews .col-center{
	margin:0px 20px
}
.reviews article{
	top:110px;
	position:relative;
	background:#fff;
	margin-bottom:110px !important;
	-webkit-box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
	-webkit-transition:all 0.9s ease;
	transition:all 0.9s ease;
	opacity:0;
	top:150px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.reviews article.show{
	top:110px;
	opacity:1
}
.reviews article.review2{
	-webkit-transition-delay:0.2s;
	transition-delay:0.2s
}
.reviews article.review3{
	-webkit-transition-delay:0.4s;
	transition-delay:0.4s
}
.reviews .profile,.reviews .review{
	padding:20px
}
.reviews .profile{
	left:0;
	right:0;
	top:-110px;
	height:110px;
	width:100%;
	border-bottom:1px solid #f4f4f4;
}
.reviews .profile h4{
	font-size:1.25em;
	color:#2d3133;
	margin-bottom:4px;
	padding-top:14px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.reviews .profile span{
	position:relative;
	top:-1px;
	color:#2d3133;
	font-family: ProximaNova;
	font-size:0.875em;
}
.reviews .profile .image{
	position:relative;
	float:left;
	overflow:hidden;
	border:4px solid #fff;
	height:70px;
	width:70px;
	margin-right:20px;
	border-radius:35px
}
.reviews .profile .image img{
	width:100%
}
.reviews .profile .stars{
	display:inline-block;
	margin-right:4px
}
.reviews .profile .stars b{
	color:#494949
}
.reviews .profile .stars i{
	color:#167db7
}
.reviews .profile .stars i,.reviews .profile .stars b{
	font-family:'pgp-ij';
	font-style:normal;
	margin-right:2px
}
.reviews .profile .stars i:before,.reviews .profile .stars b:before{
	content:"\e9d9"
}
.reviews .review{
	font-size:16px
}
.reviews .review .caption{
	color:#5e6977;
	padding-bottom:10px;
	display:block;
	font-size:.875em;
}
.reviews .review p{
	color:#2d3133;
	font-size:.875em;
	line-height:1.29;
}
.share{
	padding-top:60px;
	padding-bottom:40px;
	background:#f3f3f3;
	text-align:center
}
.share h3{
	font-size:2.5em;
	text-align:center;
	padding-bottom:40px;
	font-family: ProximaNova;
	color:#167db7;
	font-weight:normal;
}
.share .button-s{
	font-size:18px;
	font-family:"Proximanovasemibold",Helvetica,Arial,sans-serif;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	margin:0px 10px 20px;
	padding:10px 14px;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease
}
.share .button-s .pgp{
	margin-right:10px;
	display:inline-block;
	font-size:22px;
	line-height:18px;
	position:relative;
	top:2px
}
.share .button-s.facebook{
	background:#3a559c
}
.share .button-s.facebook:hover{
	background:#324986
}
.share .button-s.twitter{
	background:#20a9f2
}
.share .button-s.twitter:hover{
	background:#0d9be6
}
.share .button-s.google{
	background:#cd4731
}
.share .button-s.google:hover{
	background:#b43e2b
}
.share .button-s.linkedin{
	background:#0077b5
}
.share .button-s.linkedin:hover{
	background:#006396
}
.getApp{
	padding-top:60px;
	padding-bottom:60px;
	text-align:center
}
.getApp h3{
	font-size:2.5em;
	color:#167db7;
	font-weight: normal;
	font-family:ProximaNova;
	text-align:center;
	margin-bottom:1em;
}
.getApp a{
	margin:0 5px
}
.getApp .app-b{
	display:none
}
footer{
	color:#5e6977;
	background: url('../images/footer_bg@2x.png') bottom right no-repeat;
	min-height:180px;
	background-size:contain;
	padding-top:3em;
}

footer .container{
	bottom:0em;
	display:flex;
	flex-flow: row nowrap;
	justify-content:space-between;
}

footer .left{
	float:left;
	height:60px;
	line-height:60px;
	font-weight:600;
}
footer .right{
	float:right;
	min-height:60px;
	line-height:60px
}
footer a{
	color:#5e6977;
	height:60px;
	line-height:60px;
	text-decoration:none;
	display:inline-block;
	margin:0 1em;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease
}
footer a:hover{
	color:#ccc
}
@media (max-width: 1200px) and (min-width: 641px){
	.header h1,.slider h3,.reviews h3{
		font-size:40px
}
	.header h2,.slider p{
		font-size:20px
}
	.share .button-s{
		width:252px
}
}
@media (max-width: 1020px){
	.reviews .flex{
		display:block
}
	.reviews .flex article{
		margin-bottom:20px !important;
		position:static;
}
	.reviews .flex article:last-child{
		margin-bottom:0 !important
}
	.reviews .flex article .profile,.reviews .flex article .review{
		position:static;
		margin-bottom:0
}
	.reviews .flex .col-center{
		margin:0
}
	.getApp h3{
		font-size:2em;
	}
}
@media (max-width: 1000px) and (min-width: 641px){
	.header h1,.slider h3,.reviews h3{
		font-size:35px
}
	.header h2,.slider p{
		font-size:17.5px
}
	.header{
		background:#2088c2 url("../images/header_bg_tablet@2x.png") top center no-repeat;
		background-size:cover;
	}
	.header .android img{
		margin-top:.875em;
	}
	.slider{
		background-position:left;
		background-size:cover;
	}
	.reviews h3{
		margin-bottom:1em;
	}
}
@media (max-width: 870px) and (min-width: 641px){
	.header h1,.slider h3,.reviews h3{
		font-size:2em;
}
	.header h2,.slider p{
		font-size:15px
}
}
@media (max-width: 760px) and (min-width: 641px){
	.header h1,.slider h3,.reviews h3{
		font-size:25px
}
	.header h2,.slider p{
		font-size:15px
}
}
@media (max-width: 641px){
	.header h1,.slider h3,.reviews h3{
		font-size:55.0px
}
	.header h2,.slider p{
		font-size:29.0px
}
	.full{
		height:auto
}
	.col{
		width:100%
}
	.valign{
		display:none
}
	.header .logo{
		display:block;
		position:static;
		margin:40px 0px 40px
}
	.header h1{
		padding-top:0px;
		padding-bottom:6px
}
	.header .col{
		padding:0
}
	.header .col-l{
		/* text-align:center */
}
	.header .col-l a{
		margin:0 10px;
		text-align:center;
		display:inline-block
}
	.header .col-l a .app-n{
		display:none
}
	.header .col-l a .app-b{
		display:block
}
	.header .col-r{
		margin-bottom:0;
		max-height:650px
}
	.header .col-r img{
		width:100%;
		max-height:initial;
		height:auto
}
	.slider2{
		background:#f3f3f3
}
	.slider{
		text-align:center;
		padding:60px 0
}
	.slider h3{
		font-size:50px
}
	.slider .col{
		padding:0
}
	.slider .slide{
		position:static !important
}
	.slider .col-l{
		padding-bottom:40px;
		background:none
}
	.slider .col-r{
		position:static;
		top:0px !important
}
	.share .ib{
		display:block
}
	.share .button-s{
		display:table;
		width:100%;
		max-width:260px;
		text-align:left;
		margin:0px auto 10px;
		font-family:"Proximanova",Helvetica,Arial,sans-serif
}
	.share .button-s .pgp{
		position:relative;
		top:4px
}
	.fullSlider{
		display:none !important
}
	.header,.header .col-l,.slider,.slider .col-l{
		position:static !important;
		opacity:1 !important
}
	.header .col-l,.slider .col-l{
		background:none !important
}
	.slider .col-r{
		opacity:1 !important
}
	.getApp a,.header .col-l a{
		max-width:50%;
		padding:0px 10px;
		margin:0;
		display:inline-block
}
	.getApp a.android,.header .col-l a.android{
		padding-left:0
}
	.getApp a.apple,.header .col-l a.apple{
		padding-right:0
}
	.getApp a img,.header .col-l a img{
		max-width:100%
}
}
@media (max-width: 620px){
	.header h1,.slider h3,.reviews h3{
		font-size:45px
}
	.header h2,.slider p{
		font-size:22.5px
}
}
@media (max-width: 564px){
	.header h1,.slider h3,.reviews h3{
		font-size:40px
}
	.header h2,.slider p{
		font-size:20px
}
	.header .col-r{
		max-height:450px
}
}
@media (max-width: 514px){
	.header h1,.slider h3,.reviews h3{
		font-size:35px
}
	.header h2,.slider p{
		font-size:17.5px
}
	body footer *{
		display:block;
		clear:both;
		float:none;
		text-align:center;
		width:100%
}
	footer .container{
		flex-flow: row wrap-reverse;
	}
	footer a{
		margin: 0em;
	}
	footer .right{
		display:flex;
		flex-flow: row wrap-reverse;
	}
}
@media (max-width: 460px){
	.header h1,.slider h3,.reviews h3{
		font-size:30px;
		text-align:left;
}
	.header h2,.slider p{
		font-size:15px;
		text-align:left;
}
	.header .col-r{
		max-height:350px
}
	.selection{
		display:none
}
	.getApp a, .header .col-l a {
	max-width:48%;
	}
	.reviews h3{
		text-align: center;
	}
	.getApp h3{
		font-size:1.5em;
	}
}
@media (max-width: 420px){
	.header h1,.slider h3,.reviews h3{
		font-size:25px
}
	.header h2,.slider p{
		font-size:15px
}
}
@media (max-width: 420px){
	.header h1,.slider h3,.reviews h3{
		font-size:25px
}
	.header h2,.slider p{
		font-size:15px
}
	.header .col-r{
		max-height:280px
}
}
@media (max-width: 380px){
	.header h1,.slider h3,.reviews h3{
		font-size:25px;
		margin-bottom:1em;
}
	.header h2,.slider p{
		font-size:1.125em;
}
	.slider{
		padding-top:40px;
		padding-bottom:40px
}
	.slider .col-l{
		padding-bottom:20px
}
	.getApp{
		padding-top:40px;
		padding-bottom:40px
}
	.share .pgp{
		margin-right:20px;
		font-size:18px !important
}
	.share .button-s{
		max-width:280px;
		font-size:16px
}
	.reviews .profile{
		top:-95px;
		height:95px
}
	.reviews .profile h4{
		font-size:14px
}
	.reviews .profile .image{
		border:4px solid #fff;
		height:55px;
		width:55px;
		border-radius:27.5px
}
	.reviews .profile .stars{
		font-size:14px
}
	.reviews .profile span{
		font-size:12.5px
}
	.reviews .review,.reviews .review p{
		font-size:12.5px
}
	.reviews .review p{
		line-height:initial;
		min-height:70px
}
	.getApp a,.header .col-l a{
		padding:0px 5px
}
}
/*# sourceMappingURL=style.css.map */
